# interpreter files
__pycache__
*pyc

# pyqt5 files
*.ui

# packaging files
build
dist
*.spec

# MacOS files
.DS_Store

# my files
trash
*.sh
*.log
*.jar

# private files
config/*.config

# except tests bash files
!tests/*.sh
